/* @media only screen and (max-width: 576px){
    body {
        background-color: rgb(228, 86, 86);
      }
} */

/* @media only screen and (min-width: 576px){
    body {
        background-color: rgb(238, 69, 17);
      }
}
@media only screen and (min-width: 768px){
    body {
        background-color: rgb(180, 26, 123);
      }
}
@media only screen and (min-width: 992px){
    body {
        background-color: rgb(21, 18, 72);
      }
}
@media only screen and (min-width: 1200px){
    body {
        background-color: rgb(37, 109, 133);
      }
}
@media only screen and (min-width: 1400px){
    body {
        background-color: rgb(76, 148, 45);
      }
} */