/* @media only screen and (max-width: 576px){
    body {
        background-color: rgb(228, 86, 86);
      }
} */

/* @media only screen and (min-width: 576px){
    body {
        background-color: rgb(238, 69, 17);
      }
}
@media only screen and (min-width: 768px){
    body {
        background-color: rgb(180, 26, 123);
      }
}


@media only screen and (min-width: 1400px){
    body {
        background-color: rgb(76, 148, 45);
      }
} */

@media only screen and (max-width: 992px){
  .hambur{
      display: inline;
      cursor: pointer;
    }
  .left{
    display: none;
  }
  .right{
    margin: 0 auto;
    width: 80%;
  }
  .playSong{
    width: 79.1%;
  }
  .left .cross{
    display: inline;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
  .left{
    display: flex !important;
    position: relative;
  }
}